<div class="container">
  <div class="column text-center py-4 rounded">
    <%= simple_form_for(@restaurant) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category %>
      <%= f.submit class: "btn btn-primary rounded" %>
    <% end %>
  </div>
</div>
