
<div class="container">
  <div class="column text-center py-4">
    <h1><%= @restaurant.name %></h1>
    <h4><%= @restaurant.address %></h4>
    <h4><%= @restaurant.phone_number %></h4>
    <h4><%= @restaurant.category %></h4>
  </div>
</div>

<div class="container">
  <div class="column text-center py-4">
    <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-outline-primary"%>
    <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-outline-primary" %>
  </div>
</div>

<% @restaurant.reviews.each do |review|%>
<div class="container">
  <div class="column text-center p-4 m-4 border border-secondary">
    <%= review.content %>
    <%= review.rating %>
  </div>
</div>
<% end %>
